
*
{
    margin: 0;
    padding: 0;

    border-radius: 0;
    outline: none;
}

html,
body
{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    width: 100%;
    height: 100%;

    background-color: #ebebeb;
}
#toolbar
{
    line-height: 50px;

    width: 100%;
    height: 50px;

    color: #fff;
    background-color: #444;
}
#container
{
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: auto;
}
#editor-column,
#preview-column
{
    position: relative;

    overflow: auto;

    width: 49.5%;
    height: 100%;

    background-color: #fff;
}
.pull-left
{
    float: left;
}

.pull-right
{
    float: right;
}
#mdeditor,#preview,#panel-editor,#panel-preview
{
    height: 100%;
    width: 100%;
}